body {
   background-color:rgb(229,227,223);
   padding: 0;
   margin: 0;
}
#ex0{
	background-color: white;
}
div#header{
	padding: 30px;
	background-image: url("library.jpg");
	border-bottom: 2px solid orange;
	display: inline-block;
}
html *{
	font-family: sans-serif;
}
.title{
	
	font-weight: bold;
	font-size: 200%;
	
}
#header p{
	color: white;
	display: inline-block;
}
div#footer{
	border-top: 2px solid #666;
	padding: 30px;
	color: #666
}
